.post{
    display: flex;
    /* width: 40vw; */
    max-width: 50vw;
}

.account_ico{
    height: 30px;
    margin-bottom: 60%;
    border-radius: 50px;
    
}

.img_box{
    
    margin: 5px;
    width: 80%;
    border-radius: 9px;
    border-top-left-radius: -50px;
    
}
.poster_name{
    margin: 2px 2px;
    margin-bottom: 0px;
    padding-left: 2px;

}

.meme_img{
    width: 97%;
    margin: 1.5%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px;
    max-height: 80%;
}

.post_dis{
    margin: 0px 0px;
    margin-left: 5px;
    margin-bottom: 8px;
}